*{
	font-family: sans-serif;
}

/*header*/
header, footer{
	background-color: #7FFFFF;
    padding: 30px;
    color: white;
}
header h1{
	font-size: 60px;
}

header:hover h1{
	color:#0055FF;
}
/*section principal*/
#categorias, .ppal{
	background-color: #FFFFAA;
	padding: 20px;
}

h3{
	font-size: 24px;
	color: gray;
}
select{
	font-size: 20px;
    padding: 10px 50px;
    margin-left: 260px;	
}
select:hover{
	background-color: #FFFF55 ;	
}
option{
	margin: 10px;
	padding: 20px;
}

.movie1{
	margin:5px;
	background-color: white;
	display: inline-block;
}

.pelicula{
	height: 250px;
	width: 200px;
	margin:5px;
}


/* pelicula.html */
.text-left{
	margin-bottom: 30px;
}
.parrafo{
	padding: 50px;
	margin-top: 50px;
	font-size: 20px;
	 font-style:italic;
}
.img-circle {
  height: 160px;
  width: 160px;
  border: 5px solid orange;
  padding: 5px;
  margin: 15px 0;
}
.img-circle:hover {
  height: 180px;
  width: 180px;	
  border: 5px solid blue;
  padding: 5px;
  margin: 15px 0;
}
.actor{
	margin-left: 30px;
	font-weight: bold;
}



/*footer*/
.navfoot ul {
  display: inline-block; 
}
.navfoot li {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
}
.navfoot .fa {
  color: blue;
  padding: 10px;
  font-size: 20px;
  border: 1px solid blue;
  border-radius: 100%;
}
footer .fa:hover{
	font-size: 200%;
}

.end{
	margin-top:20px;
}


/* Responsive }*/

@media screen and (max-width : 667px){
 select{
	 margin-left: 40px;	
	}
}
.embed-responsive{
	width: 120%;
}
.parrafo{
	font-size: 16px;
	font-style:italic;
	margin-top: -30px;
}
.img-circle, .img-circle:hover{
  height: 120px;
  width: 120px;
}
.actor{
	margin-left: 30px;
	font-weight: bold;
}
.esp{
	margin-top: -30px;
	margin-left: 60px;
}
