*{
	font-family: sans-serif;
	color:;
}

section{
	background-color: ;
	padding: 20px;
}



h3{
	padding-left: 20px;
	font-size: 24px;
}
.movie1{
	display: inline-block;
}
.pelicula{
	height: 250px;
	width: 200px;
	margin:5px;
}

.video{
	padding:10px;
}

.actores{
	height: 50%;
	width: 50%;
	margin-left: 70px;
	margin-top: 20px;
}


/*footer*/
.navfoot ul {
  display: inline-block; }
.navfoot li {
  display: inline-block;
  margin-right: 5px;
  line-height: 1; }
.navfoot .fa {
  color: blue;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 100%; }